.topbar {

	float: right;
	font-family: arial;
	font-size: .8em;
	margin: 10px 5px;
	word-spacing: normal;

}

.svg {

	vertical-align: middle;
	padding-left: 10px;
}

.svg:hover {

	color: black;
}


.boton3 {

	border-radius: 1px;
	border: none;
	padding: 8px 18px;
	font-family: arial;
	font-weight: bold;
	color: grey;
	font-size: .9em;
	margin: 5px 15px;
	background-color: #4285F4;
	color: white; 
}


#container {

	margin: auto;
	width: 550px;
	padding-top: 180px;
}

.logo {
	
	position: relative;
	display: block;
	margin: 0 auto;
	padding-left: 125px;
	padding-bottom: 12px;

}

input {

	height: 40px;
	width: 500px;
	display: block;
	background-color: white;
	box-shadow: 0 1px 2px grey;
	border: 0.5px grey;
	font-family: arial;
	padding-left: 10px;
}


.botones {

	margin-top: 6%;
	padding-left: 107px;
}

.boton {

	border-radius: 1px;
	border: none;
	padding: 10px 22px;
	font-family: arial;
	font-weight: bold;
	background-color: #f2f2f2;
	font-size: .8em; 

}


.boton2 {

	border-radius: 1px;
	border: none;
	padding: 10px 22px;
	font-family: arial;
	font-weight: bold;
	background-color: #f2f2f2;
	font-size: .8em; 
	
}

.boton:hover {

	color: black;
	box-shadow: 0 0 1px black;
	background-color: #F3F3F3;
}

.boton2:hover {

	color: black;
	box-shadow: 0 0 1px black;
	background-color: #F3F3F3;
}

.texto {

	padding-top: 20px;
	padding-left: 130px;
	font-size: .8em;
	font-family: arial;
}

.bottom {

	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #F2F2F2;
	width: 100%;
	font-family: arial;
	font-size: .8em;
	word-spacing: 20px;
	border-top: solid .2px lightgrey;

}

.left {

	float: left;
	padding: 20px;
	color: #666666;

}

.right {

	float: right;
	padding: 20px;
	color: #666666;
	
}

.hyper {

	text-decoration: none;
	color: #666666;
}

.hyper:hover {

	text-decoration: underline;
}