.topback {

	background-color: #FAFAFA;
	border-bottom: solid .5px lightgrey;
	width: 100%
	height: 200px;
}

#topbar {

	
	font-family: arial;
	font-size: .8em;
	margin: 10px 5px;
	word-spacing: normal;
	width: 100%
	padding: 20px;
	height: 80px;


}

.topright {

	float: right;
	margin-top: 15px;

}

.svg {

	vertical-align: middle;
	padding-left: 10px;
}

.svg:hover {

	color: black;
}

.menu {	

	margin: 0 auto;
	font-family: arial;
	font-size: .8em;
	padding-left: 150px;
	padding-bottom: 10px;
}


ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

li {

	float: left;
}

li a {

	display: block;
	text-align: inline;
	text-decoration: none;
	padding-right: 32px;
	color: #666666;
}

li a:hover {

	color: black;
}

.active {

	color: #4285F4;
	font-weight: bold;

}

.boton3 {

	border-radius: 1px;
	border: none;
	padding: 8px 18px;
	font-family: arial;
	font-weight: bold;
	color: grey;
	font-size: .9em;
	margin: 5px 15px;
	background-color: #4285F4;
	color: white; 
}

.logo {
	
	float: left;
	margin: auto;
	margin-top: 15px;

}

#tiempo {
	font-family: arial;
	font-size: .8em;
	width: 60%;
	color: #666666;
	padding-left: 150px;
	padding-top: 10px;
	
}

input {

	height: 45px;
	width: 625px;
	float: left;
	background-color: white;
	box-shadow: 0 1px 2px grey;
	border: 0.5px grey;
	margin: 10px 20px;
	font-family: arial;
	padding-left: 10px;
	color: black;
}


.results {

	padding-left: 150px;
	position: relative;
	padding-top: 10px;

}

.results h3 {

	font-family: arial;
	font-size: 1em;
}

h3 a {

	color: #1A0DAB;
	font-weight: normal;
}

h3 a:hover {

	text-decoration: underline;
	color: #1A0DAB;
}

.results h4 {

	font-family: arial;
	font-size: 0.9em;
	font-weight: normal;
	color: #0F6643;
	margin-bottom: 9px;
}

.results li {

	line-height: 0;
}

.results li p {

	margin-top: 2px;
	line-height: 20px;
	font-family: arial;
	font-size: .8em;
	width: 60%;
	color: #666666;
}

.results li h5 {

	margin-top: 0;
	line-height: 0;
	font-family: arial;
	font-weight: normal;
	font-size: .7.5em;
	width: 80%;
	color: #666666;
}

.results li h5 a {

	text-decoration: none;
	color: #1A0DAB;
}

.results li h5 a:hover {

	text-decoration: underline;
}

.texto {

	position: absolute;
	top: 49%;
	left: 40.5%;
	font-size: .8em;
	font-family: arial;
}

.bottom {

	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #F2F2F2;
	width: 100%;
	font-family: arial;
	font-size: .8em;
	word-spacing: 20px;
	border-top: solid .2px lightgrey;

}

.left {

	float: left;
	padding: 20px;
	color: #666666;

}

.right {

	float: right;
	padding: 20px;
	color: #666666;
	
}

.hyper {

	text-decoration: none;
	color: #666666;
}

.hyper:hover {

	text-decoration: underline;
}